<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Registro de Ocorrência</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="../style/css/styleOcorrencia.css">

  
</head>
<body>
  <div class="container-ocorrencia">
    <h2><i class="fas fa-bell"></i> Registro de Ocorrência</h2>
 <table>
    <tr>
        <th>ID Produto</th>
        <th>Cliente</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Ação</th>
    </tr>
    <tr th:each="p : ${produtosMonitorados}">
        <td th:text="${p.idProduto}"></td>
        <td th:text="${p.nomeCliente}"></td>
        <td th:text="${p.telefoneCliente}"></td>
        <td th:text="${p.enderecoCompleto}"></td>
        <td>
            <form th:action="@{/ocorrencia/cadastrar}" method="post">
                <input type="hidden" name="idProduto" th:value="${p.idProduto}" />
                <input type="text" name="duracao" placeholder="HH:mm:ss" required />
                <button type="submit">Registrar</button>
            </form>
        </td>
    </tr>
</table>
</div>


</body>
</html>
