:root {
  --main-color: #c79d6a;
  --dark-bg: #111;
  --light-color: #f5f5f5;
  --input-bg: #1e1e1e;
  --border-color: rgba(255, 255, 255, 0.1);
  --hover-color: #b78e4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135vh;
}

.register-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  margin-top: 2rem;
}


.register-box {
  background-color: #1a1a1a;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  color: var(--light-color);
  text-align: center;
  margin-top: 2rem;
}

.register-box h2 {
  margin-bottom: 1.5rem;
  color: var(--main-color);
}

form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--input-bg);
  color: var(--light-color);
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

form input::placeholder {
  color: #aaa;
}

form input[type="date"] {
  color-scheme: dark;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--dark-bg);
  font-size: 1.05rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-color);
}

.login-link {
  margin-top: 1.2rem;
  font-size: 0.9rem;
}

.login-link a {
  color: var(--main-color);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.role-selector {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
  font-size: 0.95rem;
  color: #ddd;
}

.role-selector input[type="radio"] {
  accent-color: var(--main-color);
  margin-right: 0.4rem;
}

input {
    text-transform: none !important;
}
