<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/css/style.css">
    <title>Document</title>
</head>
<body>
     <nav>
    <div class="logo">Nome do site</div>
    <ul>
      <li><a href="#about">Sobre</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </nav>

  <header>
    <h1>Bem-vindo cliente</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae nulla facilis! Perspiciatis velit commodi eveniet architecto vel, maxime necessitatibus consequuntur impedit animi id rerum, delectus, minima enim. Placeat, tenetur?</p>
  </header>

  <main>
    <section id="about" class="about">
      <div class="about-content">
        <img src="" alt="Imagem">
        <div>
          <h2>Sobre Nós</h2>
          <p>Somos uma empresa dedicada a segurança...</p>
        </div>
      </div>
    </section>

   <section id="acessos" class="acessos">
  <h2>Acessos Rápidos</h2>
    <div class="cards">
        <a href="#" class="card">Relatórios de Rondas</a>
        <a href="#" class="card">Ocorrências</a>
        <a href="#" class="card">Pagamentos</a>
        <a href="#" class="card">Status do Alarme</a>
        <a href="#" class="card">Solicitar Suporte</a>
        <a href="#" class="card">Histórico dos Vigilantes</a>
        </div>
    </section>

    <section id="contato" class="contato">
      <h2>Entre em Contato</h2>
      <form>
        <input type="text" placeholder="Seu nome">
        <input type="email" placeholder="Seu e-mail">
        <textarea placeholder="Mensagem"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Segurança</p>
  </footer>
</body>
</html>