<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
    <title>Login - Cliente e Vigilante</title>
    <link rel="stylesheet" href="../style/css/styleLogin.css">
</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <h2>Login Cliente</h2>
      <input type="text" placeholder="Usuário do Cliente" />
      <input type="password" placeholder="Senha" />
      <button>Entrar</button>
    </div>

    <div class="login-box">
      <h2>Login Vigilante</h2>
      <input type="text" placeholder="Usuário do Vigilante" />
      <input type="password" placeholder="Senha" />
      <button>Entrar</button>
    </div>
  </div>
</body>
</html>
