<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div th:fragment="navbar">
    <header class="header">
      <section>
        <a href="/" class="logo">
          <img src="/images/logo.png" alt="Logo" class="logo-img">
        </a> 

        <nav class="navbar">
          <a th:href="@{/}">Início</a>
          <a th:href="@{/#about}">Sobre</a>
          <a th:href="@{/#contato}">Contato</a>
        </nav>

        <div class="perfil">
          <i class="fas fa-user-circle"></i>
          <span id="user-name" th:text="${session.user != null} ? ${session.user.nome} : 'Usuário'"></span>
        </div>
      </section>
    </header>
  </div>
</body>
</html>
