<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Dashboard - Administrador</title>
  <link rel="stylesheet" th:href="@{/style/css/styleDashboard.css}">
  <link rel="stylesheet" href="./style/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
  <header class="header">
    <section>
      <a href="#" class="logo">
        <img src="" alt="" class="logo-img">
      </a>
      <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/">Sobre</a>
        <a href="/">Contato</a>
        <a th:if="${session.tipo == 'vigilante'}" th:href="@{/ocorrencia}">Ocorrência</a>
        <a th:if="${session.tipo == 'vigilante'}" th:href="@{/rondas}">Rondas</a>
        <a th:if="${session.tipo == 'vigilante'}" th:href="@{/monitoramento}">Monitoramento</a>
        <a th:if="${session.tipo == 'admin'}" th:href="@{/dashboard}">Admin</a>
      </nav>
      <div class="menu-toggle" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
      </div>
      <div class="perfil" onclick="toggleDropdown()">
        <i class="fas fa-user-circle"></i>
        <span id="user-name">Usuário</span>
        <div class="dropdown-menu" id="dropdown">
          <a href="#">Meu Perfil</a>
          <a href="#">Configurações</a>
          <a href="/logout">Sair</a>
        </div>
      </div>
    </section>
  </header>

  <div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Dashboard do Administrador</h1>
      <p>Bem-vindo à central de comando</p>
    </header>

    <div class="dashboard-indicators">
      <div class="card">
        <i data-lucide="shield-check"></i>
        <h3>Rondas</h3>
        <p th:text="${totalRondas}">0</p>
      </div>
      <div class="card">
        <i data-lucide="alert-circle"></i>
        <h3>Ocorrências</h3>
        <p th:text="${totalOcorrencias}">0</p>
      </div>
      <div class="card">
        <i data-lucide="alarm-clock"></i>
        <h3>Alarmes</h3>
        <p th:text="${totalAlarmes}">0</p>
      </div>
      <div class="card">
        <i data-lucide="inbox"></i>
        <h3>Relatos</h3>
        <p th:text="${totalRelatos}">0</p>
      </div>
      <div class="card">
        <i data-lucide="users"></i>
        <h3>Clientes</h3>
        <p th:text="${totalClientes}">0</p>
      </div>

      <div class="card">
        <i data-lucide="user-shield"></i>
        <h3>Vigilantes</h3>
        <p th:text="${totalVigilantes}">0</p>
      </div>
    </div>


    <section class="dashboard-shortcuts">
      <h2>Atalhos Rápidos</h2>
      <div class="shortcut-grid">
        <button type="button" id="btnGerenciarRondas" onclick="mostrarRondas()">Gerenciar Rondas</button>
        <button type="button" onclick="mostrarOcorrencias()">Ver Ocorrências</button>
        <!-- <button type="button" onclick="mostrarVigilantes()">Ver Vigilantes</button> -->
        <button type="button" onclick="mostrarAlarmes()">Ver Alarmes</button>
        <button type="button" onclick="mostrarGravacoes()">Ver Gravações</button>
        <!-- <button type="button" onclick="mostrarUsuarios()">Ver Clientes</button> -->
      </div>
    </section>


    <!--TABELA RONDAS-->
    <div id="rondasContainer" style="display:none;">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Bairro</th>
            <th>Descrição</th>
            <th>Observação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ronda : ${rondas}" th:attr="data-id=${ronda.id}">
            <td th:text="${ronda.id}"></td>
            <td th:text="${ronda.nome}"></td>
            <td th:text="${ronda.bairro}"></td>
            <td th:text="${ronda.descricao}"></td>
            <td th:text="${ronda.observacao}"></td>
            <td>
              <button type="button" th:onclick="|abrirModalEditarRonda(${ronda.id})|">Editar</button>
              <a th:href="@{/excluir/{nome}(nome=${ronda.nome})}" onclick="return confirm('Deseja excluir esta rota?')">
                <button>Excluir</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <button onclick="abrirModalAdicionar()">Nova Ronda</button>
    </div>

    <!--TABELA OCORRENCIAS-->
    <div id="ocorrenciasContainer" style="display:none;">
      <table id="tabelaOcorrencias" >
        <thead>
          <tr>
            <th style="display: none;">ID</th>
            <th>Data</th>
            <th>Duração</th>
            <th>Vigilante</th>
            <th>Produto</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ocorrencia : ${ocorrencias}" th:attr="data-id=${ocorrencia.id}">

            <td th:text="${ocorrencia.id}" style="display: none;">1</td>
            <td th:text="${#temporals.format(ocorrencia.data, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(ocorrencia.duracao, 'HH:mm:ss')}"></td>
            <td th:text="${ocorrencia.idVigilante}">10</td>
            <td th:text="${ocorrencia.idProduto}">5</td>
            <td>
              <button th:onclick="|abrirModalEditarOcorrencia(${ocorrencia.id})|">Editar</button>
              <a th:href="@{/dashboard/ocorrencias/excluir/{id}(id=${ocorrencia.id})}"
                onclick="return confirm('Deseja excluir esta ocorrência?')">
                <button>Excluir</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" onclick="abrirModalAdicionarOcorrencia()">Nova Ocorrência</button>
    </div>


  <!-- TABELA GRAVACOES -->
  <div id="gravacoesContainer" style="display: none;">
    <table id="tabelaGravacoes" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Duração</th>
          <th>Data</th>
          <th>Arquivo</th>
          <th>ID Produto</th>
          <th>Ações</th>
        </tr>
      </thead>
      
      <tbody>
        <tr th:each="gravacao : ${gravacoes}" th:attr="data-id=${gravacao.id}">
          <td th:text="${gravacao.id}"></td>
          <td th:text="${gravacao.descricao}"></td>
          <td th:text="${#temporals.format(gravacao.duracao, 'HH:mm:ss')}"></td>
          <td th:text="${#temporals.format(gravacao.data, 'dd/MM/yyyy')}"></td>
          <td th:text="${gravacao.arquivo}"></td>
          <td th:text="${gravacao.idProduto}"></td>
          <td>
            <button type="button" th:onclick="|abrirModalEditarGravacao(${gravacao.id})|">Editar</button>

            <a th:href="@{/gravacao/excluir/{id}(id=${gravacao.id})}"
              onclick="return confirm('Deseja excluir esta gravação?')">
              <button>Excluir</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <button onclick="abrirModalAdicionarGravacao()">Nova Gravação</button>
    </div>


    <!-- TABELA ALARME -->
    <div id="alarmesContainer" style="display:none;">
      <table id="tabelaAlarmes">
        <thead>
          <tr>
            <th>ID</th>1
            <th>Data Instalação</th>
            <th>Data Retirada</th>
            <th>Defeito</th>
            <th>ID Endereço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="alarme : ${alarmes}" th:attr="data-id=${alarme.id}">
            <td th:text="${alarme.id}">1</td>
            <td th:text="${#temporals.format(alarme.dataInst, 'dd/MM/yyyy')}">01/01/2024</td>
            <td th:text="${#temporals.format(alarme.dataRet, 'dd/MM/yyyy')}">01/02/2024</td>
            <td th:text="${alarme.defeito ? 'Sim' : 'Não'}"></td>
            <td th:text="${alarme.idEndereco}">10</td>
            <td>
              <button type="button" th:onclick="|abrirModalEditarAlarme(${alarme.id})|">Editar</button>
              <a th:href="@{/produto/excluir/{id}(id=${alarme.id})}"
                onclick="return confirm('Deseja excluir este alarme?')">
                <button>Excluir</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" onclick="abrirModalAdicionarAlarme()">Novo Alarme</button>
    </div>


</div>

  <!-- MODAL GRAVACOES -->
  <div id="modalGravacao" class="modal" style="display:none;">
    <div class="modal-content">
      <span onclick="fecharModal('modalGravacao')" class="close">&times;</span>
      <h2>Gerenciar Gravação</h2>
      <form action="/gravacao/salvar" method="post">
        <input type="hidden" id="idGravacao" name="id" >

        <label>Descrição:</label>
        <input type="text" id="descricaoGravacao" name="descricao" required>

        <label>Duração:</label>
        <input type="time" id="duracaoGravacao" name="duracao" step="1" required>

        <label>Data:</label>
        <input type="date" id="dataGravacao" name="data" required>

        <label>Arquivo:</label>
        <input type="text" id="arquivoGravacao" name="arquivo" required>

        <label>ID Produto:</label>
        <input type="number" id="idProdutoGravacao" name="idProduto" required>

        <button type="submit">Salvar</button>
        <button type="button" onclick="fecharModal('modalGravacao')">Cancelar</button>
      </form>
    </div>
  </div>


  <!-- MODAL ALARME -->
  <div id="modalAlarme" class="modal" style="display:none;">
    <div class="modal-content">
      <span onclick="fecharModal('modalAlarme')" class="close">&times;</span>
      <h2>Gerenciar Alarme</h2>
      <form action="/produto/salvar" method="post">
        <input type="hidden" id="idAlarme" name="id">

        <label>Data Instalação:</label>
        <input type="date" id="dataInstAlarme" name="dataInst" required>

        <label>Data Retirada:</label>
        <input type="date" id="dataRetAlarme" name="dataRet" required>

        <label>Defeito:</label>
        <select id="defeitoAlarme" name="defeito" required>
          <option value="true">Sim</option>
          <option value="false" selected>Não</option>
        </select>

        <label>ID Endereço:</label>
        <input type="number" id="idEnderecoAlarme" name="idEndereco" required>

        <button type="submit">Salvar</button>
        <button type="button" onclick="fecharModal('modalAlarme')">Cancelar</button>
      </form>
    </div>
  </div>


  <!-- MODAL RONDAS -->
  <div id="modalRonda" class="modal">
    <div class="modal-content">
      <span onclick="fecharModal('modalRonda')" class="close">&times;</span>
      <form id="formRonda" th:action="@{/salvar}" method="post">


        <input type="hidden" id="id" name="id" value="">
        <label>Nome:</label>
        <input type="text" id="nome" name="nome" required><br>
        <label>Bairro:</label>
        <input type="text" id="bairro" name="bairro" required><br>
        <label>Descrição:</label>
        <input type="text" id="descricao" name="descricao"><br>
        <label>Observação:</label>
        <input type="text" id="observacao" name="observacao"><br>
        <button type="submit">Salvar</button>

        <button type="button" onclick="fecharModal('modalRonda')">Cancelar</button>
      </form>
    </div>
  </div>

  <!--MODAL OCORRENCIAS -->
  <div id="modalOcorrencia" class="modal" style="display:none;">
    <div class="modal-content">
      <span onclick="fecharModal('modalOcorrencia')" class="close">&times;</span>
      <h2>Gerenciar Ocorrência</h2>
      <form action="/dashboard/ocorrencias/salvar" method="post">
        <input type="hidden" id="idOcorrencia" name="id">

        <label>Data:</label>
        <input type="date" id="dataOcorrencia" name="data" required>

        <label>Duração:</label>
        <input type="time" id="duracaoOcorrencia" name="duracao" step="1" required>

        <label>ID Vigilante:</label>
        <input type="number" id="idVigilanteOcorrencia" name="idVigilante" required>

        <label>ID Produto:</label>
        <input type="number" id="idProdutoOcorrencia" name="idProduto" required>

        <button type="submit">Salvar</button>
        <button type="button" onclick="fecharModal('modalOcorrencia')">Cancelar</button>
      </form>
    </div>
  </div>
</body>

<script>
  function toggleDropdown() {
    document.getElementById("dropdown").classList.toggle("show");
  }

  // Fecha o menu se clicar fora
  window.addEventListener("click", function (e) {
    if (!e.target.closest(".perfil")) {
      document.getElementById("dropdown").classList.remove("show");
    }
  });

  function toggleMenu() {
    document.querySelector(".navbar").classList.toggle("active");
  }

  // Fecha o menu ao clicar em um item
  document.querySelectorAll(".navbar a").forEach(link => {
    link.addEventListener("click", () => {
      document.querySelector(".navbar").classList.remove("active");
    });
  });
  function esconderTodosContainers() {
    const containers = [
      'rondasContainer',
      'ocorrenciasContainer',
      'alarmesContainer',
      'gravacoesContainer'
    ];
    containers.forEach(id => {
      const el = document.getElementById(id);
      if (el) el.style.display = 'none';
    });
  }
  function mostrarRondas() {
    esconderTodosContainers();
    document.getElementById('rondasContainer').style.display = 'block';
  }

  function mostrarOcorrencias() {
    esconderTodosContainers();
    document.getElementById('ocorrenciasContainer').style.display = 'block';
  }



  function mostrarAlarmes() {
    esconderTodosContainers();
    document.getElementById('alarmesContainer').style.display = 'block';
  }


  function mostrarGravacoes() {
    esconderTodosContainers();
    document.getElementById('gravacoesContainer').style.display = 'block';
  }

  //RONDAS---------------------------------------------------------------


  function abrirModalEditarRonda(id) {
  const tr = document.querySelector(`tr[data-id='${id}']`);

  if (!tr) {
    alert('Ronda não encontrada!');
    return;
  }

  const tds = tr.querySelectorAll('td');

  document.getElementById('id').value = id;
  document.getElementById('nome').value = tds[1].innerText.trim();
  document.getElementById('bairro').value = tds[2].innerText.trim();
  document.getElementById('descricao').value = tds[3].innerText.trim();
  document.getElementById('observacao').value = tds[4].innerText.trim();

  document.getElementById('modalRonda').style.display = 'flex';
}

  function abrirModalAdicionar() {
    document.getElementById('id').value = '';
    document.getElementById('nome').value = '';
    document.getElementById('bairro').value = '';
    document.getElementById('descricao').value = '';
    document.getElementById('observacao').value = '';

    document.getElementById('modalRonda').style.display = 'flex';
  }

  function fecharModal(idModal) {
    document.getElementById(idModal).style.display = 'none';
  }

  //OCORRENCIAS ------------------------------------------------------


  function abrirModalAdicionarOcorrencia() {
    document.getElementById('dataOcorrencia').value = '';
    document.getElementById('duracaoOcorrencia').value = '';
    document.getElementById('idVigilanteOcorrencia').value = '';
    document.getElementById('idProdutoOcorrencia').value = '';
    document.getElementById('modalOcorrencia').style.display = 'flex';
  }
function abrirModalEditarOcorrencia(id) {

  const tabela = document.querySelector("#tabelaOcorrencias");
  const tr = tabela.querySelector(`tr[data-id='${id}']`);

  console.log("Linha encontrada:", tr);

  if (!tr) {
    alert("Ocorrência não encontrada!");
    return;
  }

  const tds = tr.querySelectorAll("td");

  document.getElementById('idOcorrencia').value = id;
  document.getElementById('dataOcorrencia').value = formatarData(tds[1].innerText.trim());
  document.getElementById('duracaoOcorrencia').value = tds[2].innerText.trim();
  document.getElementById('idVigilanteOcorrencia').value = tds[3].innerText.trim();
  document.getElementById('idProdutoOcorrencia').value = tds[4].innerText.trim();

  document.getElementById('modalOcorrencia').style.display = 'flex';
}


  //VIGILANTES ------------------------------------------------------



  //ALARMES


  function abrirModalEditarAlarme(id) {
   
    const tabela = document.querySelector("#tabelaAlarmes");
  const tr = tabela.querySelector(`tr[data-id='${id}']`);

    if (!tr) {
      alert('Alarme não encontrado!');
      return;
    }
    const tds = tr.querySelectorAll('td');

    document.getElementById('idAlarme').value = id;
    document.getElementById('dataInstAlarme').value = formatarData(tds[1].innerText);
    document.getElementById('dataRetAlarme').value = formatarData(tds[2].innerText);
    document.getElementById('defeitoAlarme').value = tr.dataset.defeito;
    document.getElementById('idEnderecoAlarme').value = tds[4].innerText.trim();

    document.getElementById('modalAlarme').style.display = 'flex';
  }

  function abrirModalAdicionarAlarme() {
    document.getElementById('idAlarme').value = '';
    document.getElementById('dataInstAlarme').value = '';
    document.getElementById('dataRetAlarme').value = '';
    document.getElementById('defeitoAlarme').value = 'false';
    document.getElementById('idEnderecoAlarme').value = '';

    document.getElementById('modalAlarme').style.display = 'flex';
  }




  // GRAVAÇÕES ---------------------------------------------------------

function abrirModalEditarGravacao(id) {
      const tabela = document.querySelector("#tabelaGravacoes");
  const tr = tabela.querySelector(`tr[data-id='${id}']`);
  if (!tr) {
    alert('Gravação não encontrada!');
    return;
  }

  const tds = tr.querySelectorAll('td');

  document.getElementById('idGravacao').value = id;
  document.getElementById('descricaoGravacao').value = tds[1].innerText;
  document.getElementById("duracaoGravacao").value = tds[2].innerText.trim();;
  document.getElementById('dataGravacao').value = formatarData(tds[3].innerText);
  document.getElementById('arquivoGravacao').value = tds[4].innerText;
  document.getElementById('idProdutoGravacao').value = tds[5].innerText;

  document.getElementById('modalGravacao').style.display = 'flex';
}

function formatarData(dataStr) {
  // dd/mm/yyyy  → yyyy-mm-dd
  const [d, m, a] = dataStr.split("/");
  return `${a}-${m}-${d}`;
}


lucide.createIcons();

</script>

</html>